spring:
  application:
     name: configserver
  profiles:
    active: native
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  cloud:
    config:
      server:
        native:
          search-locations: file:///C:\Users\deepanig\OneDrive - Capgemini\Documents\MyLearingCourses\E-comm_microservices\configserver\src\main\resources\config

management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  port: 8888



